{# Форма создания/редактирования категории #}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}

<button class="btn btn-primary">Сохранить</button>
{{ form_end(form) }}
