{% set filters = filters|default({}) %}
{% set route = route|default(app.request.get('_route')) %}

{% if paginator.hasToPaginate %}
<nav style="margin-top: 30px;">
    <ul class="pagination" style="margin-top: 10px">
        {% set firstPage = paginator.currentPage > 5 ? paginator.currentPage-5 : 1 %}
        {% set lastPage = paginator.currentPage+5 > paginator.lastPage ? paginator.lastPage : paginator.currentPage+5 %}
        {% for i in firstPage..lastPage %}
            {% if i == paginator.currentPage %}
                <li class="page-item active">
                    <a class="page-link" href="{{ path(i == 1 ? route : route ~ '_paginated', filters|merge({page: i})) }}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(i == 1 ? route : route ~ '_paginated', filters|merge({page: i})) }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
