{% extends 'frontend/layouts/profile.html.twig' %}

{% block title %}Изменить пароль - Личный кабинет{% endblock %}
{% block header %}Изменить пароль{% endblock %}
{% block content %}
    <h2>Изменить пароль</h2>

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.password) }}

    <button class="btn btn-primary">Изменить</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
