{% extends 'frontend/layouts/profile.html.twig' %}

{% block title %}Профиль - Личный кабинет{% endblock %}
{% block header %}Профиль{% endblock %}
{% block content %}
    <p>Главная страница личного кабинета</p>
{% endblock %}
