{% set confirmUrl = url('frontend_reset_password', {'token': token}) %}
<h1>Добрый день, {{ username }}!</h1>

<p>
    Для восстановления пароля перейдите по ссылке:
    <br>
    <a href="{{ confirmUrl|raw }}">{{ confirmUrl|raw }}</a>
</p>
