{% extends 'backend/layouts/controlbox.html.twig' %}

{% block title %}Панель управления{% endblock %}
{% block header %}Панель управления{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Главная</li>
{% endblock %}

{% block content %}
    <p>Hello world!</p>
{% endblock %}
