{# Layout для задач функционала авторизации (небольшие формы по центру страницы) #}
{% extends 'frontend/layouts/main.html.twig' %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% include 'frontend/components/flash-messages.html.twig' %}

                    {% block authbox %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
