{# Layout для задач функционала личного кабинета пользователя #}
{% extends 'frontend/layouts/main.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Личный кабинет
                    </div>

                    <div class="card-body">
                        {% block sidebar %}
                            {% include 'frontend/components/profile-menu.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card-header">
                    {% block header %}{% endblock %}
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include 'frontend/components/flash-messages.html.twig' %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
