{% extends 'frontend/layouts/main-sidebar-right.html.twig' %}

{% block title %}Вопросы и ответы{% endblock %}

{% block content %}
    <div class="margin-40px-bottom">
        <div class="padding-50px-lr xs-no-padding-lr">
            <span class="text-extra-dark-gray font-size14"><span class="font-weight-600">By:</span> <a href="#" class="border-bottom">Cora Drew</a> <span class="font-weight-600">, at </span> <a href="#" class="border-bottom">March 20</a></span>
            <h5 class="margin-15px-top font-weight-600"><a href="standard-post.html" class="text-extra-dark-gray">How to start a successful photography business</a></h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque inventore veritatis.</p>
        </div>
    </div>

    <div class="margin-40px-bottom">
        <div class="padding-30px-top padding-50px-lr xs-no-padding-lr">
            <span class="text-extra-dark-gray font-size14"><span class="font-weight-600">By:</span> <a href="#" class="border-bottom">Elle Stthomas</a> <span class="font-weight-600">, at </span> <a href="standard-post.html" class="border-bottom">Febuary 25</a></span>
            <h5 class="margin-15px-top font-weight-600"><a href="standard-post.html" class="text-extra-dark-gray">How you see things in powerful life</a></h5>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
        </div>
    </div>

    <div class="margin-40px-bottom">
        <div class="padding-30px-top padding-50px-lr xs-no-padding-lr">
            <span class="text-extra-dark-gray font-size14"><span class="font-weight-600">By:</span> <a href="#" class="border-bottom">Louis Nelson</a> <span class="font-weight-600">, at </span> <a href="standard-post.html" class="border-bottom">Febuary 18</a></span>
            <h5 class="margin-15px-top font-weight-600"><a href="standard-post.html" class="text-extra-dark-gray">You work your way to creative thinking</a></h5>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, on numquam eius modi tempora incidunt ut dolore magnam.</p>
        </div>
    </div>

    <div>
        <div class="padding-30px-tb padding-50px-lr xs-no-padding-lr">
            <span class="text-extra-dark-gray font-size14"><span class="font-weight-600">By:</span> <a href="#" class="border-bottom">Justin Sampson</a> <span class="font-weight-600">, at </span> <a href="standard-post.html" class="border-bottom">January 22</a></span>
            <h5 class="margin-15px-top font-weight-600"><a href="standard-post.html" class="text-extra-dark-gray">Satisfaction of making and fixing their own things</a></h5>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
{% endblock %}
