{% extends 'frontend/layouts/authbox.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}
{% block authbox %}
    <h4 class="card-title text-center">Восстановление пароля</h4>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        {{ form_row(requestForm.recaptcha) }}

        <div class="alert alert-info">
            Для восстановления пароля, введите E-mail адрес, на
            который была ранее произведена регистация на нашем сайте.
        </div>

        <button class="btn btn-primary">Отправить</button>
    {{ form_end(requestForm) }}
{% endblock %}
