{% extends 'frontend/layouts/authbox.html.twig' %}

{% block title %}Установить новый пароль{% endblock %}
{% block authbox %}
    <h4 class="card-title text-center">Установить новый пароль</h4>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.password) }}

        <button class="btn btn-primary">Изменить</button>
    {{ form_end(resetForm) }}
{% endblock %}
