{# Меню личного кабинета #}
{% set currentRoute = app.request.get('_route') %}
{% set menuItems = [
    {
        'label': 'Профиль',
        'route': 'frontend_profile_index',
        'visible': true,
    }, {
        'label': 'Изменить пароль',
        'route': 'frontend_profile_change_password',
        'visible': true,
    }, {
        'label': 'Выход',
        'route': 'frontend_logout',
        'visible': true,
    }
] %}
<div class="widget padding-30px-all md-padding-20px-all shadow-theme">
    <ul class="widget-list no-margin-bottom list-style-5">
        {% for menuItem in menuItems %}
            {% if menuItem.visible %}
                <li
                    class="{% if menuItem.route == currentRoute %}active{% endif %}"
                >
                    <a
                       style="{% if menuItem.route == currentRoute %}color:#2196f3;{% endif %}"
                       href="{{ url(menuItem.route) }}"
                    >
                        {{ menuItem.label }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
