{# Листинг вопросов #}
{% if items|length > 0 %}
    <div class="cards list-grid">
        {% include "frontend/components/questions-cards.html.twig" %}
    </div>
{% else %}
    <div class="cards">
        <div class="card-body">
            <p class="card-text">
                Нет вопросов по вашему поиску. Попробуйте изменить запрос.
            </p>
        </div>
    </div>
{% endif %}
