{# Layout с правым сайдбаром #}
{% extends 'frontend/layouts/main.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-md-12 sm-margin-50px-bottom">
            {% block flashmessages %}{% endblock %}
            {% include 'frontend/components/search-form.html.twig' %}
            {% block content %}{% endblock %}
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="side-bar">
                {% block sidebar %}
                    {{ render_esi(controller('App\\Controller\\Frontend\\QuestionController::categoriesWidget', {'view': 'categories-sidebar'})) }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
