{# Layout для задач функционала личного кабинета пользователя #}
{% extends 'frontend/layouts/main-sidebar-left.html.twig' %}

{% block flashmessages %}
    {% include 'frontend/components/flash-messages.html.twig' %}
{% endblock %}

{% block sidebar %}
    <div class="widget" style="margin-bottom: 15px;">
        {% if app.user.photo %}
            <img class="card-img-top" src="{{ uploadUrl }}{{ app.user.photo.thumbnailPath }}" alt="Изображение профиля">
        {% else %}
            <img class="card-img-top" src="/images/user/nophoto-400x400.png" alt="Изображение профиля">
        {% endif %}
    </div>

    {% include 'frontend/components/profile-menu.html.twig' %}
{% endblock %}
